DEBUG=False
SECRET_KEY=
DATABASE_URL=
ALLOWED_HOSTS=fast-track-blond.vercel.app,fast-track.vercel.app,lgu-supply.vercel.app,track-5276.vercel.app,track-system.vercel.app,tracker.vercel.app,tracker-system.vercel.app,fleet-tracker.vercel.app,lgu-tracker.vercel.app,trucking-tracker.vercel.app,tracker-system-app.vercel.app
CSRF_TRUSTED_ORIGINS=https://fast-track-blond.vercel.app,https://fast-track.vercel.app,https://lgu-supply.vercel.app,https://track-5276.vercel.app,https://track-system.vercel.app,https://tracker.vercel.app,https://tracker-system.vercel.app,https://fleet-tracker.vercel.app,https://lgu-tracker.vercel.app,https://trucking-tracker.vercel.app,https://tracker-system-app.vercel.app
