DEBUG=False
SECRET_KEY=
DATABASE_URL=
ALLOWED_HOSTS=tracker.vercel.app,tracker-system.vercel.app,lgu-tracker.vercel.app,trucking-tracker.vercel.app,tracker-system-app.vercel.app
CSRF_TRUSTED_ORIGINS=https://tracker.vercel.app,https://tracker-system.vercel.app,https://lgu-tracker.vercel.app,https://trucking-tracker.vercel.app,https://tracker-system-app.vercel.app
